body{
    background-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio{
    background-color: rgb(0, 0, 0);
    text-align: center;
   padding: 20px;
   color: aliceblue;
  
}
.menu{
  justify-content: space-around;

}
.meio{
    border-radius: 10px;
    display: flex;
    margin:10px 90px;
    justify-content: center;
   
}
.meio img{
    margin: 0 90px;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.ultimo{
    background-color: rgb(17, 17, 17);
    text-align: center;
    padding: 20px;
    color: aliceblue;
}
p{
    text-align: center;

}
.h2{
    display: flex;
  
}